.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/***********************************/
/*********  DONT CHANGE  ***********/
/***********************************/

body {
  /* background-color: rgb(47, 47, 47); */
  box-sizing: border-box;
}

.question-section-container {
  width: 100%;
  color: white;
  font-size: 20px;
}

.question-container {
  display: flex;
  min-width: 100%;
  max-width: 100%;
  gap: 9px;
  /* margin: 9px; */
  overflow: hidden;
  margin-block-start: 5%;
}

.question-card {
  color: white;

  min-width: 100%;
  max-width: 100%;
  padding-bottom: 50px;
  background-color: #373c46;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.question-card button {
  width: 80%;
  padding: 10px 0;
  border: none;
  border-radius: 5px;
}

/***********************************/
/***********************************/
/***********************************/

body {
  background-image: url("https://banner2.cleanpng.com/20180219/sse/kisspng-root-beer-beer-glassware-clip-art-beer-cartoon-5a8aca9cb33286.153064341519045276734.jpg");
  background-repeat: no-repeat;
  background-position: 50% -80%;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

h1:hover {
  animation-name: rainbow;
  animation-duration: 3000ms;
}
@keyframes rainbow {
  0% {
    color: yellow;
  }
  25% {
    color: green;
  }
  50% {
    color: blue;
  }
  75% {
    color: red;
  }
}
h2:hover {
  animation-name: rainbow;
  animation-duration: 3000ms;
}
@keyframes rainbow {
  0% {
    color: yellow;
  }
  25% {
    color: green;
  }
  50% {
    color: blue;
  }
  75% {
    color: red;
  }
}

.form {
  border: 1px solid black;
  padding: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}
